<div class="inner-contaier">
  <div class="col-md-10 col-md-offset-1">
    <!-- layouts show -->
    <%= render 'photo_list' %>
    <!-- layouts show end-->

    <!-- Upload form -->
    <div>
      <%= form_for @photo, :url => upload_photo_home_index_path, :html => { class: "upload-photo" } do |form| %>
          <div id='file_browse_wrapper'>
            <div class="form-group">
              <%= form.file_field :avatar, id: 'file_browse' %>
              <%#= form.submit "Upload", class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
    <!-- Upload form end -->
  </div>
</div>

<%= javascript_include_tag "home.js" %>