.navbar {
	border-radius: 0;
}
.navbar-default {
	background: rgba(0,0,0,.8);
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}
footer {
	border-top: 1px solid #ddd;
  padding: 15px;
  font-size: 14px;
}
.inner-contaier {
  min-height: 550px;
}
.img-box {
  height: 200px;
}

.img-box img {
  width: 100%;
  height: 100% !important;
  display: block;
  height: auto;
}
.inner-6 {
  border: 1px solid #ddd;
  margin-bottom: 25px;
   position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    padding: 10px; 
    border-radius: 5px;
    background-color: #eee;
}
.inner-6:hover {
  
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.content {
  padding: 15px;
  border-top: none;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 95.5%;
  top: auto;
  bottom: 10px;
}
.inner-6:hover .content{
  background-color: rgba(0,0,0,0.8);
}
.content h4 {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: #fff;
}
.form-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0 20px;
}
input[type='file'], input[type='submit'] {
  display: inline-block;
}

#file_browse_wrapper {
    background: url("file_browse_1.jpg") no-repeat;
    border: 2px dotted  lightgray;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    width: 200px;
    background-size: 100%;
    cursor: pointer;
    margin-bottom: 30px;
}

#file_browse{
    margin-left:0;
   width: 200px;
    height: 200px;
    opacity:0.0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
@media screen and (max-width: 768px) {
  input[type='file'] {
    margin-bottom: 15px;
  }
}